# Map all variations to the canonical identity
Oscar Valenzuela B <oscar.valenzuela.b@gmail.com> Oscar V <oscarvalenzuelab@users.noreply.github.com>
Oscar Valenzuela B <oscar.valenzuela.b@gmail.com> <oscarvalenzuelab@users.noreply.github.com>
Oscar Valenzuela B <oscar.valenzuela.b@gmail.com>